In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [3]:
soup = BeautifulSoup(source, 'xml')

In [4]:
table=soup.find('table')

In [5]:
column_names=['Postalcode','Borough','Neighbourhood']
df = pd.DataFrame(columns=column_names)

In [6]:
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [7]:
df.head()

  Postalcode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [8]:
df=df[df['Borough']!='Not assigned']

In [9]:
df[df['Neighbourhood']=='Not assigned']=df['Borough']
df.head()

  Postalcode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [12]:
temp_df=df.groupby('Postalcode')['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x))
temp_df=temp_df.reset_index(drop=False)
temp_df.rename(columns={'Neighbourhood':'Neighbourhood_joined'},inplace=True)

In [13]:
df_merge = pd.merge(df, temp_df, on='Postalcode')

In [14]:
df_merge.drop(['Neighbourhood'],axis=1,inplace=True)

In [15]:
df_merge.drop_duplicates(inplace=True)

In [18]:
df_merge.rename(columns={'Neighbourhood_joined':'Neighbourhood'},inplace=True)
df_merge.head()

  Postalcode           Borough                     Neighbourhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto                      Harbourfront
3        M6A        North York  Lawrence Heights, Lawrence Manor
5        M7A  Downtown Toronto                      Queen's Park

In [19]:
df_merge.shape

(103, 3)

In [20]:
def get_geocode(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

In [21]:
geo_df=pd.read_csv('http://cocl.us/Geospatial_data')

In [22]:
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [23]:
geo_df.rename(columns={'Postal Code':'Postalcode'},inplace=True)
geo_merged = pd.merge(geo_df, df_merge, on='Postalcode')

In [24]:
geo_data=geo_merged[['Postalcode','Borough','Neighbourhood','Latitude','Longitude']]

In [25]:
geo_data.head()

,Postalcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [29]:
print(geo_data)

    Postalcode           Borough  \
0          M1B       Scarborough
1          M1C       Scarborough
2          M1E       Scarborough
3          M1G       Scarborough
4          M1H       Scarborough
5          M1J       Scarborough
6          M1K       Scarborough
7          M1L       Scarborough
8          M1M       Scarborough
9          M1N       Scarborough
10         M1P       Scarborough
11         M1R       Scarborough
12         M1S       Scarborough
13         M1T       Scarborough
14         M1V       Scarborough
15         M1W       Scarborough
16         M1X       Scarborough
17         M2H        North York
18         M2J        North York
19         M2K        North York
20         M2L        North York
21         M2M        North York
22         M2N        North York
23         M2P        North York
24         M2R        North York
25         M3A        North York
26         M3B        North York
27         M3C        North York
28         M3H        North York
29         M3J        North York
..         ...               ...
72         M6B        North York
73         M6C              York
74         M6E              York
75         M6G  Downtown Toronto
76         M6H      West Toronto
77         M6J      West Toronto
78         M6K      West Toronto
79         M6L        North York
80         M6M              York
81         M6N              York
82         M6P      West Toronto
83         M6R      West Toronto
84         M6S      West Toronto
85         M7A  Downtown Toronto
86         M7R       Mississauga
87         M7Y      East Toronto
88         M8V         Etobicoke
89         M8W         Etobicoke
90         M8X         Etobicoke
91         M8Y         Etobicoke
92         M8Z         Etobicoke
93         M9B         Etobicoke
94         M9C         Etobicoke
95         M9L        North York
96         M9M        North York
97         M9N              York
98         M9P         Etobicoke
99         M9R         Etobicoke
100        M9V         Etobicoke
101        M9W         Etobicoke

                                         Neighbourhood   Latitude  Longitude
0                                       Rouge, Malvern  43.806686 -79.194353
1               Highland Creek, Rouge Hill, Port Union  43.784535 -79.160497
2                    Guildwood, Morningside, West Hill  43.763573 -79.188711
3                                               Woburn  43.770992 -79.216917
4                                            Cedarbrae  43.773136 -79.239476
5                                  Scarborough Village  43.744734 -79.239476
6          East Birchmount Park, Ionview, Kennedy Park  43.727929 -79.262029
7                      Clairlea, Golden Mile, Oakridge  43.711112 -79.284577
8      Cliffcrest, Cliffside, Scarborough Village West  43.716316 -79.239476
9                          Birch Cliff, Cliffside West  43.692657 -79.264848
10   Dorset Park, Scarborough Town Centre, Wexford ...  43.757410 -79.273304
11                                   Maryvale, Wexford  43.750072 -79.295849
12                                           Agincourt  43.794200 -79.262029
13             Clarks Corners, Sullivan, Tam O'Shanter  43.781638 -79.304302
14   Agincourt North, L'Amoreaux East, Milliken, St...  43.815252 -79.284577
15                                     L'Amoreaux West  43.799525 -79.318389
16                                         Upper Rouge  43.836125 -79.205636
17                                   Hillcrest Village  43.803762 -79.363452
18                        Fairview, Henry Farm, Oriole  43.778517 -79.346556
19                                     Bayview Village  43.786947 -79.385975
20                            Silver Hills, York Mills  43.757490 -79.374714
21                             Newtonbrook, Willowdale  43.789053 -79.408493
22                                    Willowdale South  43.770120 -79.408493
23                                     York Mills West  43.752758 -79.400049
24                                     Willowdale West  43.782736 -79.442259
25                                           Parkwoods  43.753259 -79.329656
26                                     Don Mills North  43.745906 -79.352188
27                    Flemingdon Park, Don Mills South  43.725900 -79.340923
28     Bathurst Manor, Downsview North, Wilson Heights  43.754328 -79.442259
29                     Northwood Park, York University  43.767980 -79.487262
..                                                 ...        ...        ...
72                                           Glencairn  43.709577 -79.445073
73                                  Humewood-Cedarvale  43.693781 -79.428191
74                                 Caledonia-Fairbanks  43.689026 -79.453512
75                                            Christie  43.669542 -79.422564
76                        Dovercourt Village, Dufferin  43.669005 -79.442259
77                            Little Portugal, Trinity  43.647927 -79.419750
78        Brockton, Exhibition Place, Parkdale Village  43.636847 -79.428191
79                  Downsview, North Park, Upwood Park  43.713756 -79.490074
80      Del Ray, Keelesdale, Mount Dennis, Silverthorn  43.691116 -79.476013
81                       The Junction North, Runnymede  43.673185 -79.487262
82                       High Park, The Junction South  43.661608 -79.464763
83                              Parkdale, Roncesvalles  43.648960 -79.456325
84                                  Runnymede, Swansea  43.651571 -79.484450
85                                        Queen's Park  43.662301 -79.389494
86               Canada Post Gateway Processing Centre  43.636966 -79.615819
87   Business Reply Mail Processing Centre 969 Eastern  43.662744 -79.321558
88        Humber Bay Shores, Mimico South, New Toronto  43.605647 -79.501321
89                              Alderwood, Long Branch  43.602414 -79.543484
90       The Kingsway, Montgomery Road, Old Mill North  43.653654 -79.506944
91   Humber Bay, King's Mill Park, Kingsway Park So...  43.636258 -79.498509
92   Kingsway Park South West, Mimico NW, The Queen...  43.628841 -79.520999
93   Cloverdale, Islington, Martin Grove, Princess ...  43.650943 -79.554724
94   Bloordale Gardens, Eringate, Markland Wood, Ol...  43.643515 -79.577201
95                                       Humber Summit  43.756303 -79.565963
96                                    Emery, Humberlea  43.724766 -79.532242
97                                              Weston  43.706876 -79.518188
98                                           Westmount  43.696319 -79.532242
99   Kingsview Village, Martin Grove Gardens, Richv...  43.688905 -79.554724
100  Albion Gardens, Beaumond Heights, Humbergate, ...  43.739416 -79.588437
101                                          Northwest  43.706748 -79.594054

[102 rows x 5 columns]